---
layout: default
title: "GitLab Learn - Classification"
description: "How we categorize GitLab Learn content."
canonical_path: "/learn/classification/"
image_title: '/images/learn/shared/gitlab-learn-graphic-01.png'
twitter_creator: "@gitlab"
twitter_site: "@gitlab"
twitter_image_alt: "GitLab Education and Training Resources"
twitter_image: "/images/learn/shared/gitlab-learn-graphic-01.png"
suppress_header: true
extra_css:
  - gitlab-learn.css
  - gitlab-topic.css
---

.container.slp-container.header-content
  %h1 GitLab Learn - Classification
  %h4 How we classify <a href="/learn/public/">GitLab Learn content</a>.

.container.slp-container
  .resources
    .courses
      .resource-block
        - data.learn.classification.each do |key, category|
          .resource
            .text
              %h4.title= category.name

              - if category.description
                %p= category.description

              %ul
                - category.categories.each do |sub|
                  %li
                    - if sub.url
                      %a{:href => "#{sub.url}", :"data-ga-name" => sub.ga_name, :"data-ga-location" => sub.ga_location }
                        %strong= sub.name
                    - else
                      %strong= sub.name

                    %span= sub.description
