<%# Implementation of slp-navigation.vue %>
<%# Data is taken from data/navigation.yml %>
<div id="navigation-desktop" class="navigation-desktop">
  <a href="/" title="GitLab" class="navigation-home" data-nav="logo">
    <img src="/images/icons/logos/slp-logo.svg" class="navigation-home__logo">
    <img src="/images/icons/logos/slp-icon.svg" class="navigation-home__icon">
  </a>
  <% data.navigation.each do |item| %>
    <% if item.url %> <%# If heading doesn't have a dropdown %>
      <a href="<%= item.url %>" class="navigation-desktop__link" data-nav="<%= item.heading %>">
        <%= item.heading %>
      </a>
    <% elsif %>
      <div class="navigation-item slp-group" data-nav="header">
        <p aria-haspopup="true" class="slp-navigation__text">
          <%= item.heading %>
          <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="navigation-item__chevron">
            <path d="M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z"/>
          </svg>
        </p>
        <div class="navigation-item__dropdown">
          <div class="navigation-desktop-dropdown">
            <% if item.links[0].subheading %> <%# If a dropdown has a subheading  %>
              <div class="navigation-desktop-dropdown__flexcontainer">
                <% item.links.each do |link| %>
                  <div>
                    <p class="navigation-desktop-dropdown__subheading">
                      <%= link.subheading %>
                    </p>
                    <div class="navigation-grid">
                      <% link.links.each do |link| %>
                        <a
                        href="<%= link.url %>"
                        class="slp-group navigation-grid__item"
                        data-nav="<%= link.name =%>"
                        data-nav-tab="<%= item.heading =%>"
                        >
                          <%= link.name %>
                          <span class="navigation-grid__arrow">
                            →
                          </span>
                          <p class="navigation-grid__description">
                            <%= link.description %>
                          </p>
                        </a>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="navigation-grid">
                <% item.links.each do |link| %>
                  <div>
                    <a
                    href="<%= link.url %>"
                    class="navigation-grid__item"
                    data-nav="<%= link.name %>"
                    data-nav-tab="<%= item.heading =%>"
                    >
                      <%= link.name %>
                      <span class="navigation-grid__arrow">
                        →
                      </span>
                      <p class="navigation-grid__description">
                        <%= link.description %>
                      </p>
                    </a>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="navigation-right">
    <a
      href="/sales/"
      class="slp-button slp-button--light navigation-right__slp-button"
      data-nav="sales"
    >
      Talk to an expert
    </a>
    <a
      href="<%= saas_trial_entrypoint_url(glm_content: 'default-saas-trial') %>"
      class="slp-button navigation-right__slp-button"
      data-nav="freetrial"
    >
      Get free trial
    </a>
    <button
      id="search-header"
      aria-label="Search"
      type="button"
      class="navigation-right__button js-search-toggle"
    >
      <img src="/images/icons/slp-search.svg" class="navigation-right__icon" />
    </button>
    <a
      class="navigation-right__button js-search-toggle"
      href="https://gitlab.com/users/sign_in"
      data-nav="login"
    >
      <img src="/images/icons/slp-user.svg" class="navigation-right__icon" />
    </a>
  </div>
</div>
