- layout ||= 'default'
- padding_bottom ||= '60px'

%div{ class: 'blank-header', style: "padding: 40px 20px #{padding_bottom};" }
  %h1.header-content
    .tool-name
      GitLab
    .vs-wrapper
      .rhombus-shape.red-color
      .vs-text
        vs
      .rhombus-shape.white-color
    .tool-name
      = product_name 
  %h2.subtitle.desktop-only
    Comparison
  %h2.subtitle.mobile-only
    Comparison
